{% include 'static priya mobile/dropselect.html' %}
{% extends 'static priya mobile/base1.html' %}
{% block script %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    function addSubmit(ev) {
      ev.preventDefault();
      $.ajax({
        method: 'POST',
        url: {{ url_for('order.vieworders')|tojson }},
        data: $(this).serialize()
      }).done(addShow);
    }
    function addShow(data) {
      $('.table-responsive table-responsive-data2').text(data.result);
    }
    $('#sale_item').on('submit', addSubmit);
  </script>
{% endblock %}
{% block content %}
{% if g.user %}
             <div class="main-content">
                    <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Order Register</strong>
                                    </div>
                                    <div class="card-body card-block">
                                        <form id="sale_item" action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="c_id" class=" form-control-label">Customer Name :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="c_id" id="c_id" class="form-control-md form-control">
                                                        <option value="0">Please select customer</option>
                                                        {% for customer in customers %}
                                                        <option value="{{ customer.customer_name}}">{{ customer.customer_name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <small class="help-block form-text">Please select customer name</small>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="i_id" class=" form-control-label">Item Name :</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select name="i_id" id="i_id" class="selectpicker" multiple data-live-search="true">
                                                        <option value="0">Please select item</option>
                                                        {% for item in items %}
                                                        {% if item.item_quantity|int > 0 %}
                                                        <option value="{{ item.item_name}}">{{ item.item_name}}({{ item.item_quantity }})</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    <small class="help-block form-text">Please select item name</small>
                                                </div>
                                            </div><div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="qauntity" class=" form-control-label">Quantity:</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                        <input type="text" id="quantity" name="quantity" placeholder="Enter Qunatity" class="form-control" required>
<!--                                                    <select name="quantity" id="quantity" class="form-control-md form-control">-->
<!--                                                        <option value="0">Please select item quantities</option>-->
<!--                                                        <option value="1">1</option>-->
<!--                                                        <option value="2">2</option>-->
<!--                                                        <option value="3">3</option>-->
<!--                                                        <option value="4">4</option>-->
<!--                                                        <option value="5">5</option>-->
<!--                                                        <option value="10">10</option>-->
<!--                                                        <option value="15">15</option>-->
<!--                                                        <option value="20">20</option>-->
<!--                                                        <option value="30">30</option>-->
<!--                                                        <option value="50">50</option>-->
<!--                                                    </select>-->
                                                    <small class="help-block form-text">Please enter quantity</small>
                                                </div>
                                            <div class="form-actions form-group">
                                                <button type="text" class="btn btn-success btn-sm">Add sale</button>
                                            </div>
                                            </div>

                                            <div class="row form-group">
                                            <div class="form-actions form-group">
                                                <button type="submit" class="btn btn-success btn-sm">Submit</button>
                                            </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


                                            <!--<div class="row form-group">-->
                                                <!--<div class="col col-md-3">-->
                                                    <!--<label for="select" class=" form-control-label">Select</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-12 col-md-9">-->
                                                    <!--<select name="select" id="select" class="form-control">-->
                                                        <!--<option value="0">Please select</option>-->
                                                        <!--<option value="1">Option #1</option>-->
                                                        <!--<option value="2">Option #2</option>-->
                                                        <!--<option value="3">Option #3</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row form-group">-->
                                                <!--<div class="col col-md-3">-->
                                                    <!--<label for="selectLg" class=" form-control-label">Select Large</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-12 col-md-9">-->
                                                    <!--<select name="selectLg" id="selectLg" class="form-control-lg form-control">-->
                                                        <!--<option value="0">Please select</option>-->
                                                        <!--<option value="1">Option #1</option>-->
                                                        <!--<option value="2">Option #2</option>-->
                                                        <!--<option value="3">Option #3</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row form-group">-->
                                                <!--<div class="col col-md-3">-->
                                                    <!--<label for="selectSm" class=" form-control-label">Select Small</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-12 col-md-9">-->
                                                    <!--<select name="selectSm" id="SelectLm" class="form-control-sm form-control">-->
                                                        <!--<option value="0">Please select</option>-->
                                                        <!--<option value="1">Option #1</option>-->
                                                        <!--<option value="2">Option #2</option>-->
                                                        <!--<option value="3">Option #3</option>-->
                                                        <!--<option value="4">Option #4</option>-->
                                                        <!--<option value="5">Option #5</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row form-group">-->
                                                <!--<div class="col col-md-3">-->
                                                    <!--<label for="disabledSelect" class=" form-control-label">Disabled Select</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-12 col-md-9">-->
                                                    <!--<select name="disabledSelect" id="disabledSelect" disabled="" class="form-control">-->
                                                        <!--<option value="0">Please select</option>-->
                                                        <!--<option value="1">Option #1</option>-->
                                                        <!--<option value="2">Option #2</option>-->
                                                        <!--<option value="3">Option #3</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row form-group">-->
                                                <!--<div class="col col-md-3">-->
                                                    <!--<label for="multiple-select" class=" form-control-label">Multiple select</label>-->
                                                <!--</div>-->
<!--                                                <!--<div class="col col-md-9">&ndash;&gt;
&lt;!&ndash;                                                    <select name="multiple-select" id="multiple-select" multiple="" class="form-control">&ndash;&gt;
&lt;!&ndash;                                                        <option value="1">Option #1</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="2">Option #2</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="3">Option #3</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="4">Option #4</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="5">Option #5</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="6">Option #6</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="7">Option #7</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="8">Option #8</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="9">Option #9</option>&ndash;&gt;
&lt;!&ndash;                                                        <option value="10">Option #10</option>&ndash;&gt;
&lt;!&ndash;                                                    </select>&ndash;&gt;
&lt;!&ndash;                                                </div>-->-->
                                            <!--</div>-->
{% endif %}
                 {% endblock %}