<!DOCTYPE html>
<html>
<head>
<style>
input[type="search"]
{
  padding-right: 200px;
    padding: 10px;
}

select {
    background: url(http://i62.tinypic.com/2e3ybe1.jpg) no-repeat right center;
    height: 34px;
    width: 50%;
    float: right;
    margin-left: 10px;
    padding-left: 10px;

}

label {
    /* float: left; */
    font-size: 15px;
    color: green;
    font-weight: bold;
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
    padding: 10px;
    padding-left: 30px;
}
</style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
 <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!--  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>-->
<!--  <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>-->
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
  <script type="text/javascript">
  $(document).ready(function() {
    $('#example').DataTable();
} );
  </script>
</head>
<body>
{% block content %}
{% if g.user %}
<table id="example" class="table table-striped table-bordered" style="width:100%">
       <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Item Name</th>
                                                <th>Price</th>
                                                <th>Item Quantity</th>
                                                <th>Purchase date</th>
                                                <th>Item Actions</th>
                                            </tr>
        </thead>
    <tbody>
    {% for item in items %}
                                            <tr class="tr-shadow">
                                                <td>
                                                    {{ item.i_id }}
                                                </td>
                                                <!--<td>-->
                                                    <!--{{ item.barcode }}-->
                                                <!--</td>-->
                                                <td>
                                                    {{ item.item_name }}
                                                </td>
                                                <td>
                                                    {{ item.item_price }}
                                                </td>
                                                <td>
                                                    {{ item.item_quantity }}
                                                </td>
                                                <td>
                                                    {{ item.purchase_date }}
                                                </td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        {% if item.item_quantity|int > 0 %}
                                                        <a href="{{ url_for('item.saleitem', id=item.i_id) }}"><button class="item" data-toggle="tooltip" data-placement="top" title="Sale">
                                                            Sale
                                                    </button></a>&nbsp;&nbsp;
                                                        {% else %}
                                                        <button class="item_status" data-toggle="tooltip" data-placement="top" title="empty" style="background-color: #f44336;">
                                                            Empty
                                                    </button>&nbsp;&nbsp;
                                                        {% endif %}
                                                        <a href="{{ url_for('item.updateitem' , id=item.i_id) }}"><button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                                            Edit
                                                        </button></a>&nbsp;&nbsp;
                                                        {% if item.item_quantity|int < 5 %}
                                                        <button class="item_status" data-toggle="tooltip" data-placement="top" title="status" style="background-color:red">
                                                            Status
                                                        </button>
                                                        {% elif item.item_quantity|int > 5 %}
                                                        <button class="item_status" data-toggle="tooltip" data-placement="top" title="status" style="background-color:green">
                                                            Status
                                                        </button>
                                                        {% endif %}
                                                        <a href="{{ url_for('item.deleteitem' , id=item.i_id) }}"><button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                                           Delete
                                                        </button></a>&nbsp;&nbsp;
                                                    </div>
                                                </td>
                                            </tr>
    {% endfor %}
       </tbody>
    </table>
{% endif %}
{% endblock %}
</body>
</html>